---
import SectionTitle from "../ui/SectionTitle.astro";
import ServiceCard from "../ui/ServiceCard.astro";
import Section from "./Section.astro";

import c1 from "../../assets/pics/card-pic1.png";
import c2 from "../../assets/pics/card-pic2.png";
import c3 from "../../assets/pics/card-pic3.png";
import c4 from "../../assets/pics/card-pic4.png";
import c5 from "../../assets/pics/card-pic5.png";
import c6 from "../../assets/pics/card-pic6.png";

const cards = [
  {
    index: 1,
    titleTop: "Performance",
    titleBottom: "Optimization",
    img: c1,
    alt: "Ad Spend Optimization",
    link: "https://mailchimp.com/resources/what-is-performance-marketing",
  },
  {
    index: 2,
    titleTop: "Marketing",
    titleBottom: "Automation",
    img: c2,
    alt: "Digital Optimization",
    link: "https://www.salesforce.com/es/learning-centre/marketing/what-is-marketing-automation",
  },
  {
    index: 3,
    titleTop: "Data",
    titleBottom: "Automation",
    img: c3,
    alt: "Timely Insights",
    link: "https://www.insightly.com/blog/marketing-automation-data",
  },
  {
    index: 1,
    titleTop: "Business",
    titleBottom: "Attribution",
    img: c4,
    alt: "Tracking ROI",
    link: "https://support.google.com/google-ads/answer/6394265?hl=en&ref_topic=7279627&sjid=3896518517355351886-NA",
  },
  {
    index: 2,
    titleTop: "Content",
    titleBottom: "Creation",
    img: c5,
    alt: "SEO",
    link: "https://www.facebook.com/business/ads/performance-marketing",
  },
  {
    index: 3,
    titleTop: "Marketing",
    titleBottom: "Science",
    img: c6,
    alt: "Modeling and forecast",
    link: "https://ams.memberclicks.net",
  },
];

const description =
  "We’re a specialized Growth Marketing firm that leverages data, technology, and strategic insights to drive your success in the digital space. Our tailored solutions includes:";
---

<Section id="services">
  <div class="mt-[140px] mb-5">
    <SectionTitle sectionTitle="Services" description={description} />
    <div class="grid lg:grid-cols-2 lg:grid-rows-3 gap-10">
      {
        cards.map((card) => (
          <ServiceCard
            index={card.index}
            titleTop={card.titleTop}
            titleBottom={card.titleBottom}
            img={card.img}
            alt={card.alt}
            link={card.link}
          />
        ))
      }
    </div>
  </div>
</Section>
