---
import SectionTitle from "../ui/SectionTitle.astro";
import TeamCard from "../ui/TeamCard.astro";
import Section from "./Section.astro";

const description =
  "Meet the skilled and experienced team behind our successful digital marketing strategies";

// Team images
import p2 from "../../assets/team/t2.png";
import p3 from "../../assets/team/t3.png";
import p4 from "../../assets/team/t4.png";
import p5 from "../../assets/team/t5.png";

const team = [
  {
    pic: p2,
    name: "Mauricio Santos",
    role: "Director of Operations",
    description:
      "20+ years of experience in marketing and team leadership. Strong organizational and communication skills",
    link: "https://https://co.linkedin.com/in/mauricio-santos-reina/es.com",
  },
  {
    pic: p3,
    name: "Cristian Peñalosa",
    role: "CMO",
    description:
      "15+ years of experience in marketing and content creation. Proficient in keyword research and on-page optimization",
    link: "https://co.linkedin.com/in/cristianpemo",
  },
  {
    pic: p4,
    name: "Edwin Díaz",
    role: "Data Scientist",
    description:
      "10+ years of experience in data science  focused on marketing science. Skilled in marketing automation and performance analysis",
    link: "https://www.linkedin.com/in/edydiazma",
  },
  {
    pic: p5,
    name: "Sergio Sanchez",
    role: "Performance Head",
    description:
      "5+ years of experience in social media marketing. Proficient in creating and scheduling content, analyzing metrics, and building engagement",
    link: "https://co.linkedin.com/in/sergio-eder-sanchez-ramos-7512687a",
  },
];
---

<Section id="about">
  <div class="mt-[140px]">
    <SectionTitle sectionTitle="Team" description={description} />
    <div
      class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 grid-rows-2 gap-10"
    >
      {
        team.map((member, index) => (
          <TeamCard
            key={index}
            pic={member.pic}
            name={member.name}
            role={member.role}
            description={member.description}
            link={member.link}
          />
        ))
      }
    </div>
    <div class="flex justify-end mt-10">
      <button class="btn-primary">See all team</button>
    </div>
  </div>
</Section>
